li {
  padding: 0px 4px
}

#cart-dropdown {
  padding: 4px 4px 4px 0px
}

#logo {
  width: 350px;
  margin-bottom: 30px;
  margin-top: 10px
}

#category-bar > .btn-group {
  margin: 0px 20px;
}

input {
  padding-left: 10px;
  border: none;
}

footer {
  color: white;
  background-color: #2C2C2B;
  margin: 0px 12px;
}

.footer-card {
  margin: 40px 0px;
}

.footer-card > a {
  color: white;
  text-decoration: none;
}